* {
    font-family: roboto;
}

nav {
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
}

body {
    margin: 0px;
}

.content-padding {
    padding-left: 14rem;
    padding-right: 14rem;
}

.hero-bg-color {
    background-color: #1F2937;
}

.hero {
    color:#F9FAF8;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 700;
    align-self: center;
    color:#F9FAF8;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    color:#1F2937;
    align-items: center;
    padding-bottom: 8rem;
}

.padding {
    padding: 0px 14em;
}

.header-items {
    display: flex;
    gap: 2rem;
    color: #E5E7EB;
    font-size: 18px;
}

.nav-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.hero-content {
    display: flex;
    gap: 14rem;
    padding-bottom: 8rem;
}

.hero-main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.hero-content-img {
    flex: 1 1 auto;
    margin-left: auto;
}


.call-to-action-heading {
    font-size: 36px;
    font-weight: bolder;
    margin: 4rem 0rem;
}

.blocks-row {
    display: flex;
    gap: 2rem;

}

img {
    max-width: 100%;
}

button {
    width: 8rem;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 0px;
    border: none;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}

.hero-secondary {
    font-size: 18px;
    color:grey;
}

.block {
    border: 4px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.block-text {
    text-align: center;
    max-width: 150px;
}

.quote-section-bg-color {
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote-section {
    display: flex;
    flex-direction: column;
}

.quote-wrapper {
    max-width: 728px;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 8rem 0rem;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 250;
}

.quote-by {
    font-size: 18px;
    font-weight: 500;
    align-self: flex-end;
    padding: 0rem 2rem;
}

#call-to-action {
    padding: 8rem 0rem;
    display: flex;
    justify-content: center;
}

.sign-up-section-bg-color {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    width: 1200px;
    height: auto;
    padding: 3rem 0rem;
}

.sign-up-section {
    display: flex;
    justify-content: space-between;
}

.main-sign-up-text {
    margin: 0px 0px 4px 2px;
    font-weight: 500;
    font-size: 24px;
}

.sub-sign-up-text {
    color:#E5E7EB;
}

#inverted-button {
    border: white solid 2px;
}